* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

.menu {
    flex: 1;
   display: flex;
   justify-content: flex-end;
}

.logo-img {
    width: 80px;
    height: 80px;
    background: #B28756;
}